@using KPChevron2015.Models
@{
    ViewBag.Title = "Index";
}

@{
    var user = Session["leader"] as Enrollment;
}
<h3>Welcome @user.Name</h3>
<h2>Welcome To Approval Page</h2>
<div class="jumbotron">
    <p>
        <a href='@Url.Action("Index", "DApproval")'>
            <input type='button' value='Approval Dashboard &raquo' class="btn btn-primary btn-lg " />
        </a>
    </p>

    <p>
        <a href='@Url.Action("Index", "Surveys")'>
            <input type='button' value='Survey Reporting &raquo' class="btn btn-primary btn-lg" />
        </a>
    </p>
</div>

