@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>There are 8 Types of Survey that Requested By Petroleum Engineer, they are:</p>
<body>
    <h3>1. Water Injection</h3>
    <h4>...........</h4>
    <h3>2. Sonolog Test</h3>
    <h4>...........</h4>
    <h3>3. BUP</h3>
    <h4>...........</h4>
    <h3>4. BHP</h3>
    <h4>...........</h4>
</body>
