@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    
</address>

<address>
    <strong>Admin:</strong>   <a href="mailto:admin@chevron.com">admin@chevron.com</a><br />
    <strong>Operational Officer:</strong> <a href="mailto:OOfficer@chevron.com">OOfficer@chevron.com</a>
</address>